<!DOCTYPE html>
<html lang="en">
<head><% include partial_codes/header.ejs%></head>
  <body>
  	<h1 align="center" >Twit-Bot</h1>
  <div class="input-group">
	    <textarea class="form-control custom-control" rows="3" style="resize:none"</textarea> 
	    <span class="input-group-btn">
	        <button class="btn btn-primary">                            
	            <span>Send</span>
	        </button>
	    </span>
  </div>
</body>
</html>

