<!DOCTYPE HTML>
<html>
	<head>
		<title>Login page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="loginpage/css/main.css" />
	</head>
	<body>
		<section id="header" class="dark">
			<header>
				<h1>Welcome to Twitter-Bot</h1>
				<p> click login to continue</p>
			</header>
			<footer>
				<a href="/auth/twitter" class="button scrolly">Login</a>
			</footer>
		</section>
	</body>
</html>